<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../login/kepek/fogaskerekek-removebg-preview.png"
            type="image/x-icon">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/admin.css">
        <title>Admin Felület</title>
    </head>

    <body>

        <nav>
            <a href="/dashboard-xyz123">Játékok kezelése</a>
            <a href="/dashboard-xyz123/kategoria">Kategória kezelése</a>
            <a href="/dashboard-xyz123/felhasznalo">Felhasználók kezelése</a>
            <a href="/">Főoldalra</a>
            <a id="log">Kijelentkezés</a>
        </nav>

        <h1>Admin Felület</h1>

        <script src="../login/src/js/admin.js"></script>
    </body>
</html>
