body { font-family: Arial, sans-serif; text-align: center; }
table { width: 80%; margin: auto; border-collapse: collapse; }
th, td { border: 1px solid black; padding: 10px; }
form { margin-top: 20px; }
textarea {
    width: 100px;
    height: 15px;
    max-height: 100px;
    min-height: 15px;
    resize: vertical; /*Ha nem akarod, hogy átméretezhető legyen*/
    overflow-y: auto; /* Csak függőleges görgetősáv */
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: -7px;
}