* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0) url(/login/kepek/playstation-2-collage-video-games-playstation-wallpaper-thumb.jpg);
  background-position: center left;
  animation: backgroundslide_right 40s infinite;
  animation-direction: alternate;
  color: white;
}

.back-to-main {
  border-radius: 20px;
  border: 1px solid white;
  cursor: pointer;
}

/* Animációk */
@keyframes backgroundslide_right {
  100% {
    background-position: center right;
  }

}


/*Reszponzív viselkedés*/
@media only screen and (min-width: 1200px) {
  .back-to-main {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: fit-content;
    height: 56px;
    background: linear-gradient(to bottom right, #facc15, #ea580c, #db2777);
    color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .centered {
    display: grid;
    place-items: center;
    height: 100vh;
  }

  .panel {
    width: 38vw;
    height: auto;
    padding: 7vw;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 10px solid rgba(0, 0, 0, 0.35);
    overflow: hidden;
  }

  h2 {
    text-align: center;
    margin-bottom: 4vh;
    color: #d9fdff;
    text-shadow: 0 0 2rem #00f0ff;

  }

  .info {
    display: flex;
    align-items: center;
    gap: 10px;

  }

  .info label {
    white-space: nowrap;

  }

  .input {
    border: 1px solid #bababa;
    background: transparent;
    height: 7vh;
    color: #ffffff;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.332);
  }

  .input:focus {
    color: #ffffff;
    background-color: transparent;
    outline-color: #d9fdff;
    box-shadow: -3px -3px 15px #00f0ff;
    transition: .1s;
    transition-property: box-shadow;
  }

  .input:focus::placeholder {
    color: white;
    opacity: 0.7;
  }


  input[type="date"] {
    background: transparent;
    color: white;
    width: 100%;
    max-width: 110px;

  }

  ::-webkit-datetime-edit {
    padding: 1em;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
  }

  #register {
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: whitesmoke;
    font-weight: bold;
    margin-left: 32%;
    margin-top: 5%;
    cursor: pointer;
  }

  #register:hover {
    background-color: #00f0ff;
    color: white;
    box-shadow: -3px -3px 15px #d9fdff;
  }

  a {
    text-decoration: none;
    color: #d9fdff;
    width: 40px;

  }

  p {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  button {
    margin-bottom: 20px;
  }

}

@media only screen and (min-width: 600px) {
  .back-to-main {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: fit-content;
    height: 40px;
    background: linear-gradient(to bottom right, #facc15, #ea580c, #db2777);
    color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .centered {
    display: grid;
    place-items: center;
    height: 100vh;
  }

  .panel {
    width: 90%;
    max-width: 500px;
    height: auto;
    padding: 7vw;
    color: #fff;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1.3);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgba(0, 0, 0, 0.35);
    overflow: hidden;
  }

  h2 {
    text-align: center;
    margin-bottom: 4vh;
    color: #d9fdff;
    text-shadow: 0 0 2rem #00f0ff;

  }

  .info {
    position: relative;
  }


  .input {
    border: 1px solid #bababa;
    background: transparent;
    height: 7vh;
    color: #ffffff;
    font-size: 16px;
    width: 90%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.332);
  }

  .input:focus {
    color: #ffffff;
    background-color: transparent;
    outline-color: #d9fdff;
    box-shadow: -3px -3px 15px #00f0ff;
    transition: .1s;
    transition-property: box-shadow;
  }

  .input:focus::placeholder {
    color: white;
    opacity: 0.7;
  }


  input[type="date"] {
    background: transparent;
    color: white;

  }

  ::-webkit-datetime-edit {
    padding: 1em;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
  }

  #register {
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: whitesmoke;
    font-weight: bold;
    margin-left: 32%;
    margin-top: 5%;
  }

  #register:hover {
    background-color: #00f0ff;
    color: white;
    box-shadow: -3px -3px 15px #d9fdff;
  }

  a {
    text-decoration: none;
    color: #d9fdff;
    width: 20px;
  }

  p {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  button {
    margin-bottom: 20px;
  }

}

@media only screen and (max-width: 600px) {

  .back-to-main {
    position: fixed;
    bottom: 10px;
    right: 10px;
    visibility: hidden;
  }

  .centered {
    display: grid;
    place-items: center;
    height: 100vh;
  }

  .panel {
    width: 90%;
    max-width: 500px;
    height: auto;
    padding: 7vw;
    color: #fff;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1.3);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgba(0, 0, 0, 0.35);
    overflow: hidden;
  }

  h2 {
    text-align: center;
    margin-bottom: 4vh;
    color: #d9fdff;
    text-shadow: 0 0 2rem #00f0ff;

  }

  .info {
    position: relative;
  }


  .input {
    border: 1px solid #bababa;
    background: transparent;
    height: 7vh;
    color: #ffffff;
    font-size: 16px;
    width: 90%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.332);
  }

  .input:focus {
    color: #ffffff;
    background-color: transparent;
    outline-color: #d9fdff;
    box-shadow: -3px -3px 15px #00f0ff;
    transition: .1s;
    transition-property: box-shadow;
  }

  .input:focus::placeholder {
    color: white;
    opacity: 0.7;
  }


  input[type="date"] {
    background: transparent;
    color: white;

  }

  ::-webkit-datetime-edit {
    padding: 1em;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
  }

  #register {
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: whitesmoke;
    font-weight: bold;
    margin-left: 32%;
    margin-top: 5%;
  }

  #register:hover {
    background-color: #00f0ff;
    color: white;
    box-shadow: -3px -3px 15px #d9fdff;
  }

  a {
    text-decoration: none;
    color: #d9fdff;
    width: 20px;
  }

  p {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  button {
    margin-bottom: 20px;
  }

}